################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.hg
/.hgignore
/GenQRCode/.vs/GenQRCode/v14
/GenQRCode/bin/Debug
/GenQRCode/obj
/GenQRCode/GenQRCode.v12.suo
*.pdb
/GenQRCode/bin/Release/zxing.xml
